@page "/projects"
@inject IGithubHttpClient GitHubClient

<div class="container mx-auto p-4">
    <div class="space-y-6">
        <h1 class="text-3xl font-bold text-[#c9d1d9]">My Projects</h1>
        @if (githubProjects != null && githubProjects.Any())
        {
            @foreach (var project in githubProjects)
            {
                <div class="bg-[#0d1117] border border-[#30363d] shadow rounded-lg p-4">
                    <div class="flex flex-col space-y-4">
                        <a href="@project.HtmlUrl" class="text-lg font-bold text-[#58a6ff] hover:underline">
                          @project.Name
                        </a>

                        <p class="text-[#c9d1d9]">
                            @project.Description
                        </p>

                        <div class="flex items-center space-x-4">
                            <a href="@project.HtmlUrl">
                                <img src="https://img.shields.io/github/last-commit/obaki102/@project.Name?style=flat-square" alt="Last Commit" class="rounded-lg" />
                            </a>
                            <a href="@project.HtmlUrl">
                                <img src="https://img.shields.io/github/stars/obaki102/@project.Name?style=flat-square&logo=github" alt="Stars" class="rounded-lg" />
                            </a>
                            @if (!string.IsNullOrWhiteSpace(project.Homepage))
                            {
                                <a href="@project.Homepage" class="text-sm font-medium text-[#58a6ff] hover:underline" title="Site Link">
                                    <svg class="inline-block w-4 h-4 mr-1" fill="currentColor" viewBox="0 0 24 24" version="1.1" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10.59 13.41a1 1 0 010-1.42l4.83-4.83a3 3 0 114.24 4.24l-1.41 1.41a1 1 0 01-1.42-1.42l1.41-1.41a1 1 0 00-1.42-1.42l-4.83 4.83a1 1 0 01-1.42 0zM13.41 10.59a1 1 0 010 1.42l-4.83 4.83a3 3 0 11-4.24-4.24l1.41-1.41a1 1 0 011.42 1.42l-1.41 1.41a1 1 0 001.42 1.42l4.83-4.83a1 1 0 011.42 0z"></path>
                                    </svg>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p class="text-center text-[#8b949e]">
               loading projects...
            </p>
        }
    </div>
</div>

@code {
    private IEnumerable<GithubRepo>? githubProjects;

    protected override async Task OnInitializedAsync()
    {
        var result = await GitHubClient.GetReposToBeShown();
        if (result.IsSuccess && result.Value is not null)
        {
            githubProjects = result.Value;
        }
    }
}
